:root {
  /* DESIGN SYSTEM */
  /* COLORS DS */
  /* PINK */
  --pink: hsl(322, 100%, 66%);
  --pink-light: hsl(321, 100%, 78%);
  --red-light: hsl(0, 100%, 63%);
  /* NEUTRAL */
  --cyan-very-dark: hsl(192, 100%, 9%);
  --blue-very-pale: hsl(207, 100%, 98%);
  --blue-number-text: hsl(208, 12%, 55%);
  --blue-social-hover: hsl(192, 100%, 49%);
  /* WHITE */
  --white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY DS */
  /* TEXT PRESET 1 */
  --text-1-family: "Poppins", sans-serif;
  --text-1-size: clamp(2.4rem, 0.686rem + 2.857vw, 4.8rem);
  --text-1-weight: 700;
  --text-1-height: clamp(3.6rem, 1.029rem + 4.286vw, 7.2rem);
  --text-1-spacing: 0rem;
  /* TEXT PRESET 2 */
  --text-2-family: "Poppins", sans-serif;
  --text-2-size: clamp(2rem, 0.571rem + 2.381vw, 4rem);
  --text-2-weight: 700;
  --text-2-height: clamp(3rem, 0.857rem + 3.571vw, 6rem);
  --text-2-spacing: 0rem;
  /* TEXT PRESET 3*/
  --text-3-family: "Open Sans", sans-serif;
  --text-3-size: clamp(2rem, 1.714rem + 0.476vw, 2.4rem);
  --text-3-weight: 700;
  --text-3-height: clamp(3rem, 2.571rem + 0.714vw, 3.6rem);
  --text-3-spacing: 0rem;
  /* TEXT PRESET 4 */
  --text-4-family: "Open Sans", sans-serif;
  --text-4-size: clamp(6.1rem, 3.6rem + 4.167vw, 9.6rem);
  --text-4-weight: 700;
  --text-4-height: clamp(9.1rem, 5.314rem + 6.31vw, 14.4rem);
  --text-4-spacing: 0rem;
  /* TEXT PRESET 5 */
  --text-5-family: "Open Sans", sans-serif;
  --text-5-size: clamp(1.4rem, 0.971rem + 0.714vw, 2rem);
  --text-5-weight: 400;
  --text-5-height: clamp(2.1rem, 1.457rem + 1.071vw, 3rem);
  --text-5-spacing: 0rem;
  /* TEXT PRESET 6 */
  --text-6-family: "Open Sans", sans-serif;
  --text-6-size: clamp(1.5rem, 0.857rem + 1.071vw, 2.4rem);
  --text-6-weight: 400;
  --text-6-height: clamp(2.3rem, 1.371rem + 1.548vw, 3.6rem);
  --text-6-spacing: 0rem;
  /* TEXT PRESET 7 */
  --text-7-family: "Open Sans", sans-serif;
  --text-7-size: clamp(0.94rem, 0.469rem + 0.786vw, 1.6rem);
  --text-7-weight: 400;
  --text-7-height: clamp(1.2rem, 0.343rem + 1.429vw, 2.4rem);
  --text-7-spacing: 0rem;
  /* TEXT PRESET 7 - BOLD */
  --text-7-bold-weight: 700;
  /* TEXT PRESET 8 */
  --text-8-family: "Open Sans", sans-serif;
  --text-8-size: clamp(1.2rem, 0.629rem + 0.952vw, 2rem);
  --text-8-weight: 700;
  --text-8-height: clamp(1.8rem, 0.943rem + 1.429vw, 3rem);
  --text-8-spacing: 0rem;
  /* TEXT PRESET 9 */
  --text-9-family: "Open Sans", sans-serif;
  --text-9-size: 1.4rem;
  --text-9-weight: 600;
  --text-9-height: 2.4rem;
  --text-9-spacing: 0rem;
  /* TEXT PRESET 9 - regular */
  --text-9-regular-weight: 400;

  /* PAGE */
  /* COLORS */
  --background-page-color: var(--white);
  --background-section-color: var(--blue-very-pale);
  --background-footer-color: var(--cyan-very-dark);
  --text-body: var(--cyan-very-dark);
  --text-body-number: var(--blue-number-text);
  --text-footer: var(--white);
  --btn: var(--pink);
  --btn-text: var(--white);
  --btn-hover: var(--pink-light);
  --icon-footer: var(--white);
  --icon-footer-hover: var(--blue-social-hover);
  --input-background: var(--white);
  --input-text: var(--cyan-very-dark);
  --input-text-incorect: var(--red-light);
}
